{% extends 'layout.html' %}


{% block body %}
  <h1>Articles</h1>
  	<li>Tesla
  	<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2051_RC11/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"tesla","geo":"US","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"geo=US&q=tesla&date=today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 
  	</li>
  	<li>Apple
  	<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2051_RC11/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Apple","geo":"US","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"geo=US&q=Apple&date=today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 
  	</li>
  <!--ul class="list-group">
    {% for article in articles %}
      <li class="list-group-item"><a href="article/{{article.id}}">{{article.author}}</a></li>
    {% endfor %}
  </ul-->
{% endblock %}
